@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Rokkitt);

.rokkitt {
  font-family: rokkitt;
}

.black-box {
  background-color: #3C0000;
  color: white;
  padding: 30px 20px 30px 20px;
}

.instructions-box {
  font-size: 18px;
  background-color: #EFEFEF;
  color: black;
  padding: 2px 2px 2px 30px;
}

.btn-primary{
  background-color: #33691E;
  border-color: #33691E;
  font-size: 32px;
  color: white;
}

.btn-primary:hover{
  background-color: #558B2F;
  border-color: #558B2F;
  color: white;
}
